* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Yekan;
}

@font-face {
    font-family: "Yekan";
    src: url("Yekan-Font-2/Yekan.eot"); /* IE9 Compat Modes */
    src: url("Yekan-Font-2/Yekan.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("Yekan-Font-2/Yekan.woff2") format("woff2"),
        /* Modern Browsers */ url("Yekan-Font-2/Yekan.woff") format("woff"),
        /* Modern Browsers */ url("Yekan-Font-2/Yekan.otf") format("opentype"),
        /* Open Type Font */ url("Yekan-Font-2/Yekan.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("Yekan-Font-2/Yekan.svg#Yekan")
            format("svg"); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

html {
    min-height: 100%;
}
body {
    min-height: 100vh;
}

.grid-container {
    min-height: 100vh;
    height: 100%;
    display: grid;
    width: 1fr;
    grid-template-columns: minmax(0px, 1fr) minmax(auto, 1280px) minmax(
            0px,
            1fr
        );
    justify-items: stretch;
    /* border: solid; */
}

.main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.side-bar {
    background-color: white;
    /* padding: 5px; */
}

.main > div {
    align-content: center;
}

/* Menu */
.main__menu {
    background-color: white;
    align-items: center;
    display: grid;
    height: 65px;
    grid-template-columns: 1fr 1.5fr;
}

.main__menu__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 1.2fr;
}

.main__menu__items > button {
    background-color: white;
    border: none;
    margin: 25px;
}

.main__menu__items > button:hover {
    color: aqua;
}

.main__menu__shop {
    color: aqua;
    font-size: 19.2px;
}

.sign-in {
    width: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 25px;
    border-radius: 24px;
    border: solid rgb(255, 200, 10) 2px;
    background-color: white;
}

.sign-in:hover {
    background-color: rgb(255, 200, 10);
}

/* signed in */
.signed-in {
    width: 125.1px;
    position: relative;
    display: inline-block;
}

.signed-in__btn {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 125.1px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 25px;
    border-radius: 24px;
    border: solid rgb(255, 200, 10) 2px;
    background-color: white;
    z-index: 50;
}

.signed-in__dropdown-content {
    display: none;
    top: 50px;
    left: 25.1px;
    height: 120px;
    position: absolute;
    background-color: rgb(225, 225, 225);
    min-width: 125.1px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    justify-content: start stretch;
    direction: rtl;
    grid-template-rows: 1fr 1fr;
    padding-top: 30px;
    border-top: 0;
    padding-top: 25px;
    padding-bottom: 45px;
    /* row-gap: 10px; */
}

.signed-in__dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.signed-in__dropdown-content a:hover {
    background-color: rgb(247, 247, 247);
}

.signed-in:hover .signed-in__dropdown-content {
    display: grid;
}

.signed-in:hover .signed-in__btn {
    background-color: rgb(255, 200, 10);
}

/* Main Part */
.main__main {
    background-color: rgb(247, 247, 247);
    min-height: 616px;
    height: 100vh;
    display: grid;
    text-align: center;
    vertical-align: middle;
    justify-items: center;
    align-items: center;
    grid-row-start: center;
    /* padding-top: 10%; */
    height: auto;
    align-content: start !important;
    padding-top: 60px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

/* Footer */
.main__footer {
    display: table;
    background-color: rgb(58, 55, 55);
    height: 40px;
    width: 100%;
    text-align: center;
    height: 40px;
    margin: 0px;
    padding: 0px;
}

.main__footer__text {
    display: table-cell;
    vertical-align: middle;
    color: aliceblue;
}

/* Main Part */
.tab {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tab > div {
    margin: 15px;
}

.tab > p {
    direction: rtl;
}

/* Buttons */
button {
    cursor: pointer !important;
}

.tab__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
}

.tab__product__button {
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    width: 150px;
    background-color: rgb(238, 238, 238);
    border: solid rgb(238, 238, 238);
    border-left: none;
}

.tab__category__button {
    width: 150px;
    background-color: rgb(247, 247, 247);
    border: solid rgb(238, 238, 238);
    border-right: none;
}

.tab__receipt__button {
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    width: 150px;
    background-color: rgb(247, 247, 247);
    border: solid rgb(238, 238, 238);
}

/* Header */
#admin__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    direction: rtl;
}

.admin__header__welcome {
    font-size: 24px;
    font-weight: bold;
    padding-left: 5px;
    margin-left: 5px;
}

/* product Part */

#product__content {
    /* display: none; */
    display: block;
}
.product__content__upper button {
    margin-top: 10px;
    width: 200px;
    height: 45px;
    border-radius: 24px;
    background-color: rgb(0, 156, 255);
    box-shadow: 1px 1px 10px rgb(7, 156, 248);
    color: aliceblue;
    border: none;
    direction: rtl;
}

.product__content__lower {
    margin-top: 50px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 70px;
    row-gap: 70px;
}

/* product card */
.product {
    width: 270px;
    display: grid;
    background-color: white;
    grid-template-rows: 5fr 1fr;
    padding: 15px;
    height: 350px;
    box-shadow: 2px 2px 10px rgb(148, 176, 201);
    /* width: 270px; */
}

.product__upper {
    display: grid;
    grid-template-rows: 1fr 1fr;
    /* justify-items: end; */
}

.product__image {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.product__image img {
    width: 101px;
    height: 125px;
}

.product__lower {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: solid rgb(232, 233, 237);
    justify-items: end;
    align-items: center;
    padding-top: 15px;
}

.product__button {
    width: 120px;
    height: 50px;
    border-radius: 24px;
    background-color: rgb(0, 156, 255);
    box-shadow: 1px 1px 10px rgb(7, 156, 248);
    color: aliceblue;
    border: none;
}

.product__details {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-top: 15px;
    justify-items: end;
}

.product__details--name {
    font-weight: bold;
}

.product__details--category {
    color: dimgrey;
}

.augmented-product {
    position: relative;
}

.product__sold {
    position: absolute;
    top: -20px;
    left: -20px;
    background-color: white;
    border-radius: 100%;
    /* padding: 5px; */
    width: 40px;
    height: 40px;
    color: rgb(0, 156, 255);
    font-size: 20px;
    padding-top: 5px;
    font-weight: bold;
    border: none;
    box-shadow: 2px 2px 10px rgb(148, 176, 201);
}

/* category Part */
#category__content {
    /* display: block; */
    display: none;
}
.category__table__div button {
    border: none;
    background-color: white;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 12px;
}

.category__table__div button:hover {
    color: aqua;
    background-color: none;
}

/* receipt*/
.receipt__search,
.category__add {
    display: flex;
    direction: rtl;
    justify-content: center;
    margin-bottom: 30px;
}

.label__div {
    width: 180px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(14, 186, 197);
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    text-align: center;
}

i {
    font-size: 14px;
    color: aliceblue;
}

input {
    width: 300px;
    direction: rtl;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border: none;
    padding: 3px;
    padding-right: 10px;
    font-size: 14px;
}

#receipt__content {
    display: none;
    /* display: block; */
    direction: rtl;
}

.receipt__table__div,
.category__table__div {
    max-height: 300px;
    overflow: auto;
    /* padding-left: 50px; */
    /* padding-right: 50px; */
    background-color: white;
}

.receipt__table,
.category__table {
    width: 100vh;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 25px;
    background-color: white;
    border-spacing: 0px;
    direction: rtl;
}

.receipt__table th,
.receipt__table td,
.category__table th,
.category__table td {
    padding-top: 12px;
    padding-bottom: 12px;
    color: gray;
    font-size: 12px;
    border-bottom: 1px solid #ddd;
}

.receipt__table td,
.category__table td {
    color: rgb(37, 33, 33);
}

.receipt__table tr:hover {
    background-color: rgb(247, 247, 247);
}

.edit-cat-div,
.edit-rec-div {
    display: none;
}

/* loader styles start */
.loading-2 {
    display: flex;
    justify-content: center;
}

.loading-2--full-height {
    align-items: center;
    height: 100%;
}

.loading-2::after {
    content: "";
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 10px solid #dddddd;
    border-top-color: rgb(0, 156, 255);
    border-radius: 50%;
    transform: rotate(0.16turn);
    animation: loading-2 0.7s linear infinite;
}

@keyframes loading-2 {
    /* Safari support */
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}
/* loader styles end */

/* start alert */
.alert {
    position: fixed;
    top: 10%;
    left: 40%;
    padding: 20px;
    width: 400px;
    background-color: #f44336;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.alert.success {
    background-color: #04aa6d;
}
.alert.warning {
    background-color: #ff9800;
}
/* end alert */
